* {
    box-sizing: border-box;
}

.header {
    margin: 50px;
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    background-color: darkblue;
    color: white;
    margin-right: 175px;
    margin-left: 175px;
}

.header h1 {
    margin-top: 67px;
}

#nonprofit {
    margin-left: 100px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -50px;
    margin-left: 166px;
    margin-right: 165px;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 99px;
    background-color: darkblue;
    margin: 11px;
    text-decoration: none;
    border: 1px solid black;
}

.navbar ul li a:hover {
    background-color: lightblue;
}

.navbar ul li a:active {
    background-color: aquamarine;
}

div.flex-content {
    display: flex;
    flex-direction: row;
    margin-left: 160px;
    margin-right: 160px;
}

div.flex-content > div {
    margin: 20px;
}

@media screen and (max-width:600px) {
    div.flex-content {
        flex-direction: column;
    }
}