.header {
    margin: 50px;
    display: flex;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    background-color: darkblue;
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
}

.navbar ul li a:hover {
    background-color: lightblue;
}

.navbar ul li a:active {
    background-color: aquamarine;
}