* {
    box-sizing: border-box;
}

.header {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: 175px;
    margin-right: 175px;
    text-align: center;
    justify-content: center;
    display: block;
    border: 1px solid black;
}

.navbar {
    padding: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 166px;
    margin-right: 165px;
    overflow: hidden;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    background-color: darkblue;
    margin: 10px;
    text-decoration: none;
    border: 1px solid black;
}

.navbar ul li a:hover {
    background-color: lightblue;
}

.navbar ul li a:active {
    background-color: aquamarine;
}

footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 25px;
    flex: 1;
}

footer p {
    margin: 0;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}

footer nav {
    border-right: 1px solid lightgray;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 14 99px;
}

footer a:hover {
    background-color: lightblue;
}