div.flex-content {
    display: flex;
    flex-direction: row;
    margin-left: 175px;
    margin-right: 160px;
}

#map {
    margin-top: 25px;
    height: 700px;
    width: 400px;
}

.searchbar input[type=text] {
    margin-left: 200px;
    padding: 6px;
    border: 1px solid black;
    margin-top: 25px;
    font-size: 17px;
    width: 700px;
}

.searchbar button:hover {
    background-color: lightblue;
}

.searchbar button {
    padding: 6px;
    background-color: darkblue;
    color: white;
    font-size: 17px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-content img {
    margin-top: 70px;
    margin-right: 50px;
    border-radius: 25px;
}

#description p {
    border: 1px solid black;
    padding: 50px;
    margin-top: 20px;
}
